.calculator-container {
    height: 700px;
    width: 500px;
    background-color: grey;
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
}

.calculator-displayer {
    width: 80%;
    height: 15%;
    background-color: black;
    margin: 20px auto 10px auto;
}

.calculator-body {
    width: 80%;
    height: 70%;
    border: 2px solid whitesmoke;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}